.container {
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  line-height: normal;
}

button, img {
  display: block;
}

ul, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-list__item:nth-child(2) {
  border: 2px solid #fff;
  border-radius: 20px;
}
.header-list__link {
  color: #FFF;
  text-align: center;
  font-size: 14;
  font-weight: 700;
  display: block;
  padding: 11px 4px;
  margin-right: 4px;
}
.header-list__logo {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header .container {
  display: flex;
  flex-direction: column;
  padding-top: 19px;
  gap: 112px;
}
@media screen and (min-width: 768px) {
  .header .container {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 36px 50px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header .container {
    width: 940px;
  }
}

.hero {
  padding-top: 214px;
  padding-bottom: 136px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../img/mobil.jpg");
  padding: 202px 0 233px;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url("../../img/tablet.jpg");
    padding: 202px 0 233px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url("../../img/computer.jpg");
  }
}
.hero__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 52px;
  }
}
.hero__text {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-top: 12px;
  margin-bottom: 17px;
  padding: 0 36px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 24px;
    margin: 36px 0 33px;
  }
}
.hero__btn {
  padding: 13px 38px;
  border-radius: 20px;
  border: none;
  margin: 0 auto;
  background-color: #FF4E50;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 768px) {
  .hero__btn {
    padding: 20px 10px;
  }
}

.partners {
  padding: 63px 0 57px;
}
@media screen and (min-width: 768px) {
  .partners {
    padding: 66px 0 39px;
  }
}
@media screen and (min-width: 1200px) {
  .partners {
    padding: 65px 0 62px;
  }
}
.partners__title {
  color: #333;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .partners__title {
    margin-bottom: 35px;
  }
}
.partners__btn {
  color: #FF4E50;
  text-align: center;
  font-size: 14px;
  width: 280px;
  height: 40px;
  font-weight: 700;
  border: 2px solid #FF4E50;
  background-color: #fff;
  border-radius: 20px;
  margin: 29px auto 0;
}
@media screen and (min-width: 768px) {
  .partners__btn {
    width: 195px;
    height: 42px;
    margin: 38px auto 0;
  }
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .partners-list {
    row-gap: 53px;
  }
}
@media screen and (min-width: 1200px) {
  .partners-list {
    gap: 20px;
  }
}
.partners-list__item {
  width: 247px;
}
.partners-list__container {
  width: 120px;
  height: 120px;
  position: relative;
  margin: 0 auto;
}
.partners-list__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.partners-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 2px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 4px solid #fff;
}
.partners-list__icon--tv {
  background-color: #FF4E50;
}
.partners-list__icon--chem {
  background-color: #FFA507;
}
.partners-list__icon--coffee {
  background-color: #1CD7AD;
}
.partners-list__icon--telegram {
  background-color: #4E73DB;
}
.partners-list__svg {
  width: 16px;
  height: 16px;
  fill: #FFF;
}
.partners-list__svg--chem {
  width: 12px;
  height: 16px;
}
.partners-list__name {
  margin: 13px 0;
  color: #333;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.partners-list-about {
  color: #666;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.button {
  color: #FF4E50;
  text-align: center;
  font-family: "Montrerrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #FFF;
  border-radius: 20px;
  border: 2px solid #FF4E50;
  margin: 0 auto;
  width: 195px;
  height: 43px;
  margin-top: 52px;
}
@media screen and (min-width: 768px) {
  .button {
    margin-top: 38px;
  }
}/*# sourceMappingURL=main.css.map */