.hero{
        padding-top: 214px;
        padding-bottom: 136px;
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../../img/mobil.jpg");
        padding: 202px 0 233px;

        @media screen and (min-width:768px){
            background-image: url("../../img/tablet.jpg");
            padding: 202px 0 233px;
        }

        @media screen and (min-width:1200px){
            background-image: url("../../img/computer.jpg");
        }

        &__title{
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            color: #fff;
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
            @media screen and (min-width:768px){
                font-size: 52px;
            }
        }
        &__text{
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 300;
            margin-top: 12px;
            margin-bottom: 17px;
            padding: 0 36px;
            @media screen and (min-width:768px){
                font-size: 24px;
                margin: 36px 0 33px;
            }
        }
        &__btn{
            padding: 13px 38px;
            border-radius: 20px;
            border: none;
            margin: 0 auto;
            background-color: #FF4E50;
            text-align: center;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
            
            @media screen and (min-width:768px){
                padding: 20px 10px;
            }
        }
    }